<form [formGroup]="loginForm" (submit)="loginUser($event)">
    <div class="loginPage">
        <div class="userCredential">

            <label>UserID:</label>
            <input type="text" formControlName="userID">
            <label>UserName:</label>
            <input type="text" formControlName="userName">
            <p *ngIf="loginForm.controls.userName.touched && loginForm.controls.userName.errors">This field is required!</p>
            <br>
            <br>
            <label>Password:</label>
            <input type="password" formControlName="password" class="passwordInput">
            <br>
        </div>
        <div class="submit">
            <button type="submit">Login</button>
        </div>
    </div>
</form>