.loginPage{
    margin-top: 5px;
    align-self: center;
    margin-left: 40%;
}
.submit{
    float: right;
    margin-right: 71%;
    margin-top: 4%;
}
button:hover {
    background-color: grey;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  .passwordInput{
      margin-left: 7px;
}